<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="This is social network html5 template available in themeforest......" />
		<meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
		<meta name="robots" content="index, follow" />
		<title>InterpretMe</title>

    <!-- Stylesheets
    ================================================ -->
		<link rel="stylesheet" href="/bootstrap.min.css" />

		<link rel="stylesheet" href="/styles.css" />
		<link rel="stylesheet" href="/ionicons.min.css" />
		<link rel="stylesheet" href="/font-awesome.min.css" />

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
	</head>
	<body id="landingBody">

    <!-- Header
    ================================================= -->
		<header id="header-inverse">

    </header>
    <!--Header End-->

    <!-- Landing Page Contents
    ================================================= -->
    <div id="lp-register">
    	<div class="container wrapper">
        <div class="row">
        	<div class="col-sm-5">
            <div class="intro-texts">
            	<h1 class="text-white">InterpretMe</h1>
            	<p>Do you need help understanding anything? Need help in the RMV? The pharmacy? Do you have a document you need translated? Need to make a phonecall in another language? Do you want to help others?<br />
								<br />Register now, and meet people within your community that want to help you!</p>

            </div>
          </div>
        	<div class="col-sm-6 col-sm-offset-1">
            <div class="reg-form-container">

              <!-- Register/Login Tabs-->
              <div class="reg-options">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#register" data-toggle="tab">Register</a></li>
                  <li><a href="#login" data-toggle="tab">Login</a></li>
                </ul><!--Tabs End-->
              </div>

              <!--Registration Form Contents-->
              <div class="tab-content">
                <div class="tab-pane active" id="register">
                  <h3>Register!</h3>
                  <p class="text-muted">Help others within your community!</p>

                  <!--Register Form-->
									<form action="/signup" method="post">
							        <div class="form-group">
							            <label>Email</label>
							            <input type="text" class="form-control" name="email">
							        </div>
							        <div class="form-group">
							            <label>Password</label>
							            <input type="password" class="form-control" name="password">
							        </div>


							        <button type="submit" class="btn btn-warning btn-lg btn-primary">Signup</button>
							    </form>

                </div><!--Registration Form Contents Ends-->

                <!--Login-->
                <div class="tab-pane" id="login">
                  <h3>Login</h3>
                  <p class="text-muted">Log into your account</p>

                  <!--Login Form-->
									<form action="/login" method="post">
											<div class="form-group">
													<label>Email</label>
													<input type="text" class="form-control" name="email">
											</div>
											<div class="form-group">
													<label>Password</label>
													<input type="password" class="form-control" name="password">
											</div>

											<button type="submit" class="btn btn-warning btn-lg btn-primary">Login</button>
									</form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6">

            <!--Social Icons-->

          </div>
        </div>
      </div>
    </div>

    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>

    <!-- Scripts
    ================================================= -->
		<script src="/jquery-3.1.1.min.js"></script>
		<script src="/bootstrap.min.js"></script>
		<script src="/jquery.appear.min.js"></script>
		<script src="/jquery.incremental-counter.js"></script>
		<script src="/script.js"></script>
		<script type="text/javascript" src="../main.js"></script>


		<script type="text/javascript" src="feed.js">

		</script>

	</body>
</html>
